body, html {
    font-family: "Roboto", sans-serif;
    background-image: url('img/tackboard.jpg');
    background-size: auto;
  }

.logo {
    background-image: url('img/gsw.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}